<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <%= csrf_meta_tag %>
    <title>Walkrr</title>
    <link rel="alternate" title="Recent Entries" type="application/atom+xml" href="<%= Settings.domain + url_for(:action => :atom) %>" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application' %>
    
    <script src="http://www.google.com/jsapi"></script> 
    <script src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <%= javascript_include_tag :all, :cache => true %>      

  </head>
  <body>
    <input type="hidden" id="default_path" value="<%= @default_path %>" />
    <input type="hidden" id="add_area_url" value="<%= url_for(:action => :add_area) %>" />
    <div id="top">
      <span class="section_title">Path:</span>
        <%= button_to_function "new", "walk.pathEditor.newPath();"%>
        <%= button_to_function "delete", "walk.pathEditor.deletePath();" %>
        <%= button_to_function "clear", "walk.pathEditor.deleteAll();" %>
        <%= button_to_function "elevation", "walk.requestElevation();" %>
        <%= button_to_function "street view", "walk.showPanorama();" %>
        <%= form_tag({:action => "import"}, {:id => "import_form", :multipart => true, :target => "import_frame", :style => "display: inline;"}) do %>
          <%= file_field_tag "file" %>
          <%= button_to_function "import", "walk.importFile();"%>
        <% end %>
        <span id="editing_label">Now editing...<span id="length">0</span>m</span>
	<div id="powered_by">Powered by <a href="https://github.com/chez-sugi/walkrr">walkrr</a></div>
      <iframe id="import_frame" name="import_frame" style="display: none;"></iframe>
          
          
    </div>
    <div id="left">
      <div id="tabs">
        <ul>
          <li><a href="#search_form">search</a></li>
          <li><a href="#admin_form">admin</a></li>
        </ul>
        <%= form_tag({:action => 'search'}, {:id => 'search_form', :remote => true, :method => 'GET'}) do  %>
          <%= hidden_field_tag "latitude" %>
          <%= hidden_field_tag "longitude" %>
          <%= hidden_field_tag "radius" %>
          <%= hidden_field_tag "areas" %>
          <%= hidden_field_tag 'search_path' %>
          <div id="conditionBox">
            <%= radio_button_tag :condition, "neighbor"%><label for="condition_neighbor">neighbor</label>
            <%= radio_button_tag :condition, "areas"%><label for="condition_areas">areas</label>
            <%= radio_button_tag :condition, "cross"%><label for="condition_cross">cross</label>
            <%= radio_button_tag :condition, "all", "checked"%><label for="condition_all">all</label>
          </div>
    <%#      <div id="areasBox">
            <label for="areas">areas</label>
            <%= select_tag "areas", options_for_select(@areas), {:multiple => true, :size =>5, :name => 'areas[]'} >
          </div> %>
          <div>
            <label >date</label>
            <%= select_tag "year",
              options_for_select(@year_opts)%> /
            <%= select_tag "month",
              options_for_select(@month_opts)%>
          </div>
          <div>
            <label for="order">order</label>
            <%= select_tag "order",
              options_for_select([["new first","date desc"], ["old first","date"],
                ["long first","length desc"], ["short first","length"],
                ["east first","xmax(PATH) desc"], ["west first","xmin(PATH)"],
                ["south first","ymin(PATH)"],["north first","ymax(PATH) desc"]])%>
          </div>
          <div>
            <label for="per_page">per page</label><%= text_field_tag "per_page","20" %>
          </div>
          <%= submit_tag "search", :disable_with => "searching" %>
          <%= button_to_function 'reset', 'walk.resetSearch()' %>
        <% end %>
        <%= form_tag({:action => 'save'}, {:id => 'admin_form', :remote => true }) do  %>
          <div><label for="id">id</label>
          <%= text_field_tag 'id', '', {:readonly => 'readonly', :class => 'readonly'} %></div>
          <div><label for="date">date</label>
          <%= text_field_tag 'date' %></div>
          <div>
            <label for="start">start</label>
            <%= text_field_tag 'start'  %>
          </div>

          <div>
            <label for="end">end</label>
            <%= text_field_tag 'end'  %>
          </div>

          <%= hidden_field_tag 'save_path'  %>
          <%= submit_tag "save", {:disable_with => "wait...", :onclick => "$('#admin_form').attr('action', '#{url_for(:action => :save)}');"} %>
          <%= submit_tag "delete", {:disable_with => "wait...", :confirm => "Are you sure to delete?", :onclick => "$('#admin_form').attr('action', '#{url_for(:action => :destroy)}');"} %>
          <%= button_to_function "reset", "this.form.reset();", {}%>
        <% end %>
      </div>
 
      <div id="message"></div>
      <%= form_tag("", {:id => "results_form"}) do %>
        <div>
          <%= button_to_function "check all", "$('input[type=checkbox]').attr('checked', true);", {}%>
          <%= button_to_function "reset", "$('input[type=checkbox]').attr('checked', false);", {}%>
          <%= submit_tag "show", {:onclick => "$('#results_form').attr('action', '#{url_for(:action => :show)}');$('#results_form').attr('data-remote', true);"} %>
          <%= submit_tag "export", {:onclick => "$('#results_form').attr('action', '#{url_for(:action => :export)}');$('#results_form').removeAttr('data-remote');"} %>
        </div>
            
        <table>
          <tbody id="tbody">
	    <%= render(:partial => 'walk_row', :collection => @walks)  %>
          </tbody>
        </table>
            
      <% end %>
      <div id="pagination"></div>
    </div>
    <div id="map"></div>
   
    <div id="elevation_chart"></div>
    <div id="panorama_box">
      <div id="panorama"></div>
      <div id="panorama_control"><%= button_to_function "◀◀", "walk.backwardPanorama();" %><%= button_to_function "◀", "walk.prevPanorama();" %><span id="panorama_index_count"></span><%= button_to_function "▶", "walk.nextPanorama();" %><%= button_to_function "▶▶", "walk.forwardPanorama();" %></div>
    </div>
        
  </body>
</html>
    
